@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa.eot");
  src: local("Comfortaa"), url("../../fonts/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa.woff") format("woff"), url("../../fonts/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa-Bold.eot");
  src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url("../../fonts/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa-Bold.woff") format("woff"), url("../../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa-Light.eot");
  src: local("Comfortaa Light"), local("Comfortaa-Light"), url("../../fonts/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa-Light.woff") format("woff"), url("../../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}