@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa.eot");
  src: local("Comfortaa"), url("../../fonts/Comfortaa.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa.woff") format("woff"), url("../../fonts/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa-Bold.eot");
  src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url("../../fonts/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa-Bold.woff") format("woff"), url("../../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa-Light.eot");
  src: local("Comfortaa Light"), local("Comfortaa-Light"), url("../../fonts/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa-Light.woff") format("woff"), url("../../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Comfortaa", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #323232;
}

body::-webkit-scrollbar {
  width: 7px;
  background: none;
}

body::-webkit-scrollbar-track-piece {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF7400;
  border-radius: 5px;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.common-title {
  color: #323232;
  font-size: 36px;
  font-weight: bold;
}
.common-title:after {
  margin-top: 15px;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  border-radius: 3px;
  background-color: #009999;
  margin-bottom: 30px;
}
.common-title:before {
  margin-bottom: 7px;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  border-radius: 3px;
  background-color: #FF7400;
}

section {
  padding: 70px 0px;
}

ul, ol, h1, h2, h3, h4, a {
  margin: 0px auto;
  padding: 0;
}

ul, ol {
  list-style: none;
}

header {
  background: url("../img/header-bg.webp") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.header__title-wrap {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: white;
  font-size: 56px;
  font-weight: bold;
}

.header__menu {
  position: static !important;
}

.header__menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.header__menu__link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: 0.3s ease all;
}
.header__menu__link:hover {
  color: #FF7400;
  transform: translateY(5px);
}

main {
  height: 1000px;
}